@use 'sass:math';

$grid-width: 800px;
$grid-height: 800px;
$col-meta-height: 100px;
$row-meta-width: 100px;

$font-size: 10pt;
$font-family: sans-serif;

$black: #000;
$white: #fff;
$gray: #bbb;
$light-gray: #ccc;
$dark-gray: #aaa;
$darker-gray: #555;
$green: #acd;

$area0-r: 250;
$area0-g: 250;
$area0-b: 250;

$area1-r: 225;
$area1-g: 225;
$area1-b: 225;

$area2-r: 200;
$area2-g: 200;
$area2-b: 200;

$area3-r: 175;
$area3-g: 175;
$area3-b: 175;

$area4-r: 150;
$area4-g: 150;
$area4-b: 150;

$area5-r: 125;
$area5-g: 125;
$area5-b: 125;

$area6-r: 100;
$area6-g: 100;
$area6-b: 100;

$area7-r: 75;
$area7-g: 75;
$area7-b: 75;

$area8-r: 50;
$area8-g: 50;
$area8-b: 50;

@function chi($x, $lbx, $ubx, $y, $lby, $uby) {
  @return gte($x, $lbx)*lte($x, $ubx)*gte($y, $lby)*lte($y, $uby);
}

@function gte($z, $a) {
  @return math.clamp(0, $z - ($a - 1), 1);
}

@function lte($z, $b) {
  @return math.clamp(0, ($b + 1) - $z, 1);
}

#app {
  margin: 0 auto;
  font-size: $font-size;
  font-family: $font-family;
  width: $grid-width + $col-meta-height;
}

.board {
  display: grid;
  grid-template-columns: $col-meta-height $grid-width;
  grid-template-rows: $row-meta-width $grid-height;
}

.colMetadata, .rowMetadata {
  display: grid;
}

.rowMetadata {
  align-items: center;
  justify-items: end;

  .rowMetadatum {
    margin-right: 2px;
  }
}

.colMetadata {
  justify-items: center;
  align-items: end;
}

@for $i from 0 through 14 {
  .row#{$i} {
    grid-row-start: #{$i + 1};
  }

  .col#{$i} {
    grid-column-start: #{$i + 1};
  }

  @for $j from 0 through 14 {
    .row#{$i}-col#{$j} {
      background: rgb(
        $area0-r*chi($i, 0, 4, $j, 0, 4) +
        $area1-r*chi($i, 5, 9, $j, 0, 4) +
        $area2-r*chi($i, 10, 14, $j, 0, 4) +
        $area3-r*chi($i, 0, 4, $j, 5, 9) +
        $area4-r*chi($i, 5, 9, $j, 5, 9) +
        $area5-r*chi($i, 10, 14, $j, 5, 9) +
        $area6-r*chi($i, 0, 4, $j, 10, 14) +
        $area7-r*chi($i, 5, 9, $j, 10, 14) +
        $area8-r*chi($i, 10, 14, $j, 10, 14),

        $area0-g*chi($i, 0, 4, $j, 0, 4) +
        $area1-g*chi($i, 5, 9, $j, 0, 4) +
        $area2-g*chi($i, 10, 14, $j, 0, 4) +
        $area3-g*chi($i, 0, 4, $j, 5, 9) +
        $area4-g*chi($i, 5, 9, $j, 5, 9) +
        $area5-g*chi($i, 10, 14, $j, 5, 9) +
        $area6-g*chi($i, 0, 4, $j, 10, 14) +
        $area7-g*chi($i, 5, 9, $j, 10, 14) +
        $area8-g*chi($i, 10, 14, $j, 10, 14),

        $area0-b*chi($i, 0, 4, $j, 0, 4) +
        $area1-b*chi($i, 5, 9, $j, 0, 4) +
        $area2-b*chi($i, 10, 14, $j, 0, 4) +
        $area3-b*chi($i, 0, 4, $j, 5, 9) +
        $area4-b*chi($i, 5, 9, $j, 5, 9) +
        $area5-b*chi($i, 10, 14, $j, 5, 9) +
        $area6-b*chi($i, 0, 4, $j, 10, 14) +
        $area7-b*chi($i, 5, 9, $j, 10, 14) +
        $area8-b*chi($i, 10, 14, $j, 10, 14)
      );
    }
  }
}

.grid {
  width: $grid-width;
  height: $grid-height;
  background: $black;
  border: 1px solid $black;

  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(15, 1fr);
  place-items: stretch;
  gap: 1px;
}

.square {
  display: grid;
  place-items: center;

  &.full {
    background: $green;
  }
}

.error, .solved {
  display: grid;
  place-items: center;
  text-align: center;
  width: $grid-width;
  height: $grid-height;
}
