#app {
  margin: 0 auto;
  font-size: 10pt;
  font-family: sans-serif;
  width: 900px;
}

.board {
  display: grid;
  grid-template-columns: 100px 800px;
  grid-template-rows: 100px 800px;
}

.colMetadata, .rowMetadata {
  display: grid;
}

.rowMetadata {
  align-items: center;
  justify-items: end;
}
.rowMetadata .rowMetadatum {
  margin-right: 2px;
}

.colMetadata {
  justify-items: center;
  align-items: end;
}

.row0 {
  grid-row-start: 1;
}

.col0 {
  grid-column-start: 1;
}

.row0-col0 {
  background: #fafafa;
}

.row0-col1 {
  background: #fafafa;
}

.row0-col2 {
  background: #fafafa;
}

.row0-col3 {
  background: #fafafa;
}

.row0-col4 {
  background: #fafafa;
}

.row0-col5 {
  background: #afafaf;
}

.row0-col6 {
  background: #afafaf;
}

.row0-col7 {
  background: #afafaf;
}

.row0-col8 {
  background: #afafaf;
}

.row0-col9 {
  background: #afafaf;
}

.row0-col10 {
  background: #646464;
}

.row0-col11 {
  background: #646464;
}

.row0-col12 {
  background: #646464;
}

.row0-col13 {
  background: #646464;
}

.row0-col14 {
  background: #646464;
}

.row1 {
  grid-row-start: 2;
}

.col1 {
  grid-column-start: 2;
}

.row1-col0 {
  background: #fafafa;
}

.row1-col1 {
  background: #fafafa;
}

.row1-col2 {
  background: #fafafa;
}

.row1-col3 {
  background: #fafafa;
}

.row1-col4 {
  background: #fafafa;
}

.row1-col5 {
  background: #afafaf;
}

.row1-col6 {
  background: #afafaf;
}

.row1-col7 {
  background: #afafaf;
}

.row1-col8 {
  background: #afafaf;
}

.row1-col9 {
  background: #afafaf;
}

.row1-col10 {
  background: #646464;
}

.row1-col11 {
  background: #646464;
}

.row1-col12 {
  background: #646464;
}

.row1-col13 {
  background: #646464;
}

.row1-col14 {
  background: #646464;
}

.row2 {
  grid-row-start: 3;
}

.col2 {
  grid-column-start: 3;
}

.row2-col0 {
  background: #fafafa;
}

.row2-col1 {
  background: #fafafa;
}

.row2-col2 {
  background: #fafafa;
}

.row2-col3 {
  background: #fafafa;
}

.row2-col4 {
  background: #fafafa;
}

.row2-col5 {
  background: #afafaf;
}

.row2-col6 {
  background: #afafaf;
}

.row2-col7 {
  background: #afafaf;
}

.row2-col8 {
  background: #afafaf;
}

.row2-col9 {
  background: #afafaf;
}

.row2-col10 {
  background: #646464;
}

.row2-col11 {
  background: #646464;
}

.row2-col12 {
  background: #646464;
}

.row2-col13 {
  background: #646464;
}

.row2-col14 {
  background: #646464;
}

.row3 {
  grid-row-start: 4;
}

.col3 {
  grid-column-start: 4;
}

.row3-col0 {
  background: #fafafa;
}

.row3-col1 {
  background: #fafafa;
}

.row3-col2 {
  background: #fafafa;
}

.row3-col3 {
  background: #fafafa;
}

.row3-col4 {
  background: #fafafa;
}

.row3-col5 {
  background: #afafaf;
}

.row3-col6 {
  background: #afafaf;
}

.row3-col7 {
  background: #afafaf;
}

.row3-col8 {
  background: #afafaf;
}

.row3-col9 {
  background: #afafaf;
}

.row3-col10 {
  background: #646464;
}

.row3-col11 {
  background: #646464;
}

.row3-col12 {
  background: #646464;
}

.row3-col13 {
  background: #646464;
}

.row3-col14 {
  background: #646464;
}

.row4 {
  grid-row-start: 5;
}

.col4 {
  grid-column-start: 5;
}

.row4-col0 {
  background: #fafafa;
}

.row4-col1 {
  background: #fafafa;
}

.row4-col2 {
  background: #fafafa;
}

.row4-col3 {
  background: #fafafa;
}

.row4-col4 {
  background: #fafafa;
}

.row4-col5 {
  background: #afafaf;
}

.row4-col6 {
  background: #afafaf;
}

.row4-col7 {
  background: #afafaf;
}

.row4-col8 {
  background: #afafaf;
}

.row4-col9 {
  background: #afafaf;
}

.row4-col10 {
  background: #646464;
}

.row4-col11 {
  background: #646464;
}

.row4-col12 {
  background: #646464;
}

.row4-col13 {
  background: #646464;
}

.row4-col14 {
  background: #646464;
}

.row5 {
  grid-row-start: 6;
}

.col5 {
  grid-column-start: 6;
}

.row5-col0 {
  background: #e1e1e1;
}

.row5-col1 {
  background: #e1e1e1;
}

.row5-col2 {
  background: #e1e1e1;
}

.row5-col3 {
  background: #e1e1e1;
}

.row5-col4 {
  background: #e1e1e1;
}

.row5-col5 {
  background: #969696;
}

.row5-col6 {
  background: #969696;
}

.row5-col7 {
  background: #969696;
}

.row5-col8 {
  background: #969696;
}

.row5-col9 {
  background: #969696;
}

.row5-col10 {
  background: #4b4b4b;
}

.row5-col11 {
  background: #4b4b4b;
}

.row5-col12 {
  background: #4b4b4b;
}

.row5-col13 {
  background: #4b4b4b;
}

.row5-col14 {
  background: #4b4b4b;
}

.row6 {
  grid-row-start: 7;
}

.col6 {
  grid-column-start: 7;
}

.row6-col0 {
  background: #e1e1e1;
}

.row6-col1 {
  background: #e1e1e1;
}

.row6-col2 {
  background: #e1e1e1;
}

.row6-col3 {
  background: #e1e1e1;
}

.row6-col4 {
  background: #e1e1e1;
}

.row6-col5 {
  background: #969696;
}

.row6-col6 {
  background: #969696;
}

.row6-col7 {
  background: #969696;
}

.row6-col8 {
  background: #969696;
}

.row6-col9 {
  background: #969696;
}

.row6-col10 {
  background: #4b4b4b;
}

.row6-col11 {
  background: #4b4b4b;
}

.row6-col12 {
  background: #4b4b4b;
}

.row6-col13 {
  background: #4b4b4b;
}

.row6-col14 {
  background: #4b4b4b;
}

.row7 {
  grid-row-start: 8;
}

.col7 {
  grid-column-start: 8;
}

.row7-col0 {
  background: #e1e1e1;
}

.row7-col1 {
  background: #e1e1e1;
}

.row7-col2 {
  background: #e1e1e1;
}

.row7-col3 {
  background: #e1e1e1;
}

.row7-col4 {
  background: #e1e1e1;
}

.row7-col5 {
  background: #969696;
}

.row7-col6 {
  background: #969696;
}

.row7-col7 {
  background: #969696;
}

.row7-col8 {
  background: #969696;
}

.row7-col9 {
  background: #969696;
}

.row7-col10 {
  background: #4b4b4b;
}

.row7-col11 {
  background: #4b4b4b;
}

.row7-col12 {
  background: #4b4b4b;
}

.row7-col13 {
  background: #4b4b4b;
}

.row7-col14 {
  background: #4b4b4b;
}

.row8 {
  grid-row-start: 9;
}

.col8 {
  grid-column-start: 9;
}

.row8-col0 {
  background: #e1e1e1;
}

.row8-col1 {
  background: #e1e1e1;
}

.row8-col2 {
  background: #e1e1e1;
}

.row8-col3 {
  background: #e1e1e1;
}

.row8-col4 {
  background: #e1e1e1;
}

.row8-col5 {
  background: #969696;
}

.row8-col6 {
  background: #969696;
}

.row8-col7 {
  background: #969696;
}

.row8-col8 {
  background: #969696;
}

.row8-col9 {
  background: #969696;
}

.row8-col10 {
  background: #4b4b4b;
}

.row8-col11 {
  background: #4b4b4b;
}

.row8-col12 {
  background: #4b4b4b;
}

.row8-col13 {
  background: #4b4b4b;
}

.row8-col14 {
  background: #4b4b4b;
}

.row9 {
  grid-row-start: 10;
}

.col9 {
  grid-column-start: 10;
}

.row9-col0 {
  background: #e1e1e1;
}

.row9-col1 {
  background: #e1e1e1;
}

.row9-col2 {
  background: #e1e1e1;
}

.row9-col3 {
  background: #e1e1e1;
}

.row9-col4 {
  background: #e1e1e1;
}

.row9-col5 {
  background: #969696;
}

.row9-col6 {
  background: #969696;
}

.row9-col7 {
  background: #969696;
}

.row9-col8 {
  background: #969696;
}

.row9-col9 {
  background: #969696;
}

.row9-col10 {
  background: #4b4b4b;
}

.row9-col11 {
  background: #4b4b4b;
}

.row9-col12 {
  background: #4b4b4b;
}

.row9-col13 {
  background: #4b4b4b;
}

.row9-col14 {
  background: #4b4b4b;
}

.row10 {
  grid-row-start: 11;
}

.col10 {
  grid-column-start: 11;
}

.row10-col0 {
  background: #c8c8c8;
}

.row10-col1 {
  background: #c8c8c8;
}

.row10-col2 {
  background: #c8c8c8;
}

.row10-col3 {
  background: #c8c8c8;
}

.row10-col4 {
  background: #c8c8c8;
}

.row10-col5 {
  background: #7d7d7d;
}

.row10-col6 {
  background: #7d7d7d;
}

.row10-col7 {
  background: #7d7d7d;
}

.row10-col8 {
  background: #7d7d7d;
}

.row10-col9 {
  background: #7d7d7d;
}

.row10-col10 {
  background: #323232;
}

.row10-col11 {
  background: #323232;
}

.row10-col12 {
  background: #323232;
}

.row10-col13 {
  background: #323232;
}

.row10-col14 {
  background: #323232;
}

.row11 {
  grid-row-start: 12;
}

.col11 {
  grid-column-start: 12;
}

.row11-col0 {
  background: #c8c8c8;
}

.row11-col1 {
  background: #c8c8c8;
}

.row11-col2 {
  background: #c8c8c8;
}

.row11-col3 {
  background: #c8c8c8;
}

.row11-col4 {
  background: #c8c8c8;
}

.row11-col5 {
  background: #7d7d7d;
}

.row11-col6 {
  background: #7d7d7d;
}

.row11-col7 {
  background: #7d7d7d;
}

.row11-col8 {
  background: #7d7d7d;
}

.row11-col9 {
  background: #7d7d7d;
}

.row11-col10 {
  background: #323232;
}

.row11-col11 {
  background: #323232;
}

.row11-col12 {
  background: #323232;
}

.row11-col13 {
  background: #323232;
}

.row11-col14 {
  background: #323232;
}

.row12 {
  grid-row-start: 13;
}

.col12 {
  grid-column-start: 13;
}

.row12-col0 {
  background: #c8c8c8;
}

.row12-col1 {
  background: #c8c8c8;
}

.row12-col2 {
  background: #c8c8c8;
}

.row12-col3 {
  background: #c8c8c8;
}

.row12-col4 {
  background: #c8c8c8;
}

.row12-col5 {
  background: #7d7d7d;
}

.row12-col6 {
  background: #7d7d7d;
}

.row12-col7 {
  background: #7d7d7d;
}

.row12-col8 {
  background: #7d7d7d;
}

.row12-col9 {
  background: #7d7d7d;
}

.row12-col10 {
  background: #323232;
}

.row12-col11 {
  background: #323232;
}

.row12-col12 {
  background: #323232;
}

.row12-col13 {
  background: #323232;
}

.row12-col14 {
  background: #323232;
}

.row13 {
  grid-row-start: 14;
}

.col13 {
  grid-column-start: 14;
}

.row13-col0 {
  background: #c8c8c8;
}

.row13-col1 {
  background: #c8c8c8;
}

.row13-col2 {
  background: #c8c8c8;
}

.row13-col3 {
  background: #c8c8c8;
}

.row13-col4 {
  background: #c8c8c8;
}

.row13-col5 {
  background: #7d7d7d;
}

.row13-col6 {
  background: #7d7d7d;
}

.row13-col7 {
  background: #7d7d7d;
}

.row13-col8 {
  background: #7d7d7d;
}

.row13-col9 {
  background: #7d7d7d;
}

.row13-col10 {
  background: #323232;
}

.row13-col11 {
  background: #323232;
}

.row13-col12 {
  background: #323232;
}

.row13-col13 {
  background: #323232;
}

.row13-col14 {
  background: #323232;
}

.row14 {
  grid-row-start: 15;
}

.col14 {
  grid-column-start: 15;
}

.row14-col0 {
  background: #c8c8c8;
}

.row14-col1 {
  background: #c8c8c8;
}

.row14-col2 {
  background: #c8c8c8;
}

.row14-col3 {
  background: #c8c8c8;
}

.row14-col4 {
  background: #c8c8c8;
}

.row14-col5 {
  background: #7d7d7d;
}

.row14-col6 {
  background: #7d7d7d;
}

.row14-col7 {
  background: #7d7d7d;
}

.row14-col8 {
  background: #7d7d7d;
}

.row14-col9 {
  background: #7d7d7d;
}

.row14-col10 {
  background: #323232;
}

.row14-col11 {
  background: #323232;
}

.row14-col12 {
  background: #323232;
}

.row14-col13 {
  background: #323232;
}

.row14-col14 {
  background: #323232;
}

.grid {
  width: 800px;
  height: 800px;
  background: #000;
  border: 1px solid #000;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(15, 1fr);
  place-items: stretch;
  gap: 1px;
}

.square {
  display: grid;
  place-items: center;
}
.square.full {
  background: #acd;
}

.error, .solved {
  display: grid;
  place-items: center;
  text-align: center;
  width: 800px;
  height: 800px;
}

/*# sourceMappingURL=index.css.map */
